In [1]:
import pandas as pd
import psycopg2
from config import *

In [2]:
conn = psycopg2.connect(
   database=DATABASE, user=USER, password=PASSWORD, host=HOST, port= PORT
)

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("Select * FROM races LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url']

In [5]:
cursor.execute("SELECT * FROM races")
data = cursor.fetchall()
race_df = pd.DataFrame(data, columns=colnames)
race_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [6]:
cursor.execute("Select * FROM results LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['resultId',
 'raceId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'position',
 'positionText',
 'positionOrder',
 'points',
 'laps',
 'time',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'statusId']

In [7]:
cursor.execute("SELECT * FROM results")
data = cursor.fetchall()
results_df = pd.DataFrame(data, columns=colnames)
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [8]:
raceresults_df = results_df.merge(race_df,left_on='raceId',right_on='raceId',how='left')

In [9]:
raceresults_df = raceresults_df.dropna().reset_index()

In [10]:
raceresults_df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name,date,time_y,url
0,0,1,18,1,1,22,1,1,1,1,...,1:27.452,218.300,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
1,1,2,18,2,2,3,5,2,2,2,...,1:27.739,217.586,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
2,2,3,18,3,3,7,7,3,3,3,...,1:28.090,216.719,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
3,3,4,18,4,4,5,11,4,4,4,...,1:28.603,215.464,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
4,4,5,18,5,1,23,3,5,5,5,...,1:27.418,218.385,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...

In [11]:
file_path = "../Resources/PythonExport/weather.csv"
weather_df = pd.read_csv(file_path)
weather_df.head()

,Unnamed: 0,raceId,year,round,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,2009,1,Sunny with temperatures reaching up to 27 °C (...,1,0,0,0,0
1,1,2,2009,2,"Dry start, with heavy rain and thunderstorm/mo...",0,0,1,1,0
2,2,3,2009,3,Rain,0,0,0,1,0
3,3,4,2009,4,Sunny,1,0,0,0,0
4,4,5,2009,5,"Warm, Sunny",1,0,0,0,0

In [12]:
df = raceresults_df.merge(weather_df,left_on='raceId',right_on='raceId',how='left')
df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,url,Unnamed: 0,year_y,round_y,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,18,1,1,22,1,1,1,1,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
1,1,2,18,2,2,3,5,2,2,2,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
2,2,3,18,3,3,7,7,3,3,3,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
3,3,4,18,4,4,5,11,4,4,4,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
4,4,5,18,5,1,23,3,5,5,5,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0

In [13]:
df.drop(columns=['index','resultId','raceId','url','time_y','date','round_y','position','positionText','number','points','laps','time_x','milliseconds','fastestLap','rank','year_y','Unnamed: 0','weather','round_x','name','fastestLapSpeed','fastestLapTime'],inplace=True)

In [14]:
df

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1,1,1,1,1,2008,1,1,0,0,0,0
1,2,2,5,2,1,2008,1,1,0,0,0,0
2,3,3,7,3,1,2008,1,1,0,0,0,0
3,4,4,11,4,1,2008,1,1,0,0,0,0
4,5,1,3,5,1,2008,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25035,849,3,19,16,11,2021,4,0,0,0,0,1
25036,4,214,10,17,11,2021,4,0,0,0,0,1
25037,854,210,18,18,12,2021,4,0,0,0,0,1
25038,853,210,20,19,12,2021,4,0,0,0,0,1
25039,852,213,16,20,10,2021,4,0,0,0,0,1

In [15]:
df.dtypes

driverId          int64
constructorId     int64
grid              int64
positionOrder     int64
statusId          int64
year_x            int64
circuitId         int64
weather_warm      int64
weather_cold      int64
weather_dry       int64
weather_wet       int64
weather_cloudy    int64
dtype: object

In [16]:
# We will finish all the statuses where drivers finish the race to 2
replace = {
    11:2, 12:2, 13:2, 14:2, 15:2, 16:2, 17:2, 18:2, 19:2, 45:2, 50:2, 128:2, 53:2, 55:2, 58:2, 
    88:2, 111:2, 112:2, 113:2, 114:2, 115:2, 116:2, 117:2, 118:2, 119:2, 120:2, 122:2, 123:2, 124:2, 
    125:2, 127:2, 133:2, 134:2  
}
df["statusId"] = df["statusId"].replace(replace)

In [17]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
def change_status(x):
    if x == 1:
        return 1
    elif x == 2:
        return 2
    else:
        return 3
    
df["statusId"] = df["statusId"].apply(change_status)
df.tail(10)

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
25030,840,117,11,11,2,2021,4,0,0,0,0,1
25031,8,51,17,12,2,2021,4,0,0,0,0,1
25032,20,117,13,13,2,2021,4,0,0,0,0,1
25033,847,3,15,14,2,2021,4,0,0,0,0,1
25034,841,51,14,15,2,2021,4,0,0,0,0,1
25035,849,3,19,16,2,2021,4,0,0,0,0,1
25036,4,214,10,17,2,2021,4,0,0,0,0,1
25037,854,210,18,18,2,2021,4,0,0,0,0,1
25038,853,210,20,19,2,2021,4,0,0,0,0,1
25039,852,213,16,20,3,2021,4,0,0,0,0,1

In [18]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.statusId.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['statusId'])
encode_df.head()

   statusId_1  statusId_2  statusId_3
0         1.0         0.0         0.0
1         1.0         0.0         0.0
2         1.0         0.0         0.0
3         1.0         0.0         0.0
4         1.0         0.0         0.0

In [19]:
df = df.merge(encode_df,left_index=True,right_index=True).drop("statusId",1)

In [20]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.grid.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['grid'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("grid",1)

In [21]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.driverId.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['driverId'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("driverId",1)

In [22]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.constructorId.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['constructorId'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("constructorId",1)

In [23]:
# df.head()
circuitId = df[df['year_x']==2019]['circuitId']
circuitId_df = circuitId.to_frame().reset_index().drop(columns=['index'])

In [24]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.circuitId.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['circuitId'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("circuitId",1)

In [25]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
def change_order(x):
    if x == 1:
        return 1
    else:
        return 0
    
df["positionOrder"] = df["positionOrder"].apply(change_order)
df.head(10)

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3
0,1,1,1,1,2008,1,1,0,0,0,0,1.0,0.0,0.0
1,2,2,5,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
2,3,3,7,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
3,4,4,11,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
4,5,1,3,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
5,6,3,13,0,2008,1,1,0,0,0,0,0.0,1.0,0.0
6,7,5,17,0,2008,1,1,0,0,0,0,0.0,0.0,1.0
7,8,6,15,0,2008,1,1,0,0,0,0,0.0,0.0,1.0
8,9,2,2,0,2008,1,1,0,0,0,0,0.0,0.0,1.0
9,10,7,18,0,2008,1,1,0,0,0,0,0.0,0.0,1.0

In [26]:
import sklearn as skl
from sklearn import preprocessing
X_scaler = skl.preprocessing.StandardScaler()

In [27]:
df_train = df[(df['year_x']<=2018) & (df['year_x']>=2000)]
df_test = df[df['year_x']==2019]

In [28]:
df_train

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3
0,1,1,1,1,2008,1,1,0,0,0,0,1.0,0.0,0.0
1,2,2,5,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
2,3,3,7,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
3,4,4,11,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
4,5,1,3,0,2008,1,1,0,0,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24192,842,5,17,0,2018,24,0,0,0,0,0,0.0,0.0,1.0
24193,839,10,9,0,2018,24,0,0,0,0,0,0.0,0.0,1.0
24194,828,15,12,0,2018,24,0,0,0,0,0,0.0,0.0,1.0
24195,8,6,4,0,2018,24,0,0,0,0,0,0.0,0.0,1.0
24196,807,4,10,0,2018,24,0,0,0,0,0,0.0,0.0,1.0

In [29]:
y_train= df_train['positionOrder']
y_test= df_test['positionOrder']
X_train = df_train.drop(columns=['positionOrder'])
# .drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])
X_test = df_test.drop(columns=['positionOrder'])
# X_test = df_test.drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])

In [30]:
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
X_test_scaled

array([[ 1.68523359,  1.49634508, -1.46612311, ...,  1.15496929,
        -0.67795821, -0.58758777],
       [-0.66362615,  1.49634508, -1.62545438, ...,  1.15496929,
        -0.67795821, -0.58758777],
       [ 1.70812139, -0.41446054, -1.14746058, ...,  1.15496929,
        -0.67795821, -0.58758777],
       ...,
       [ 1.74245308, -0.4771099 , -0.03214169, ..., -0.86582389,
         1.47501718, -0.58758777],
       [-0.64073836, -0.50843458,  1.24250846, ..., -0.86582389,
         1.47501718, -0.58758777],
       [ 1.73673113,  2.74933237,  0.12718958, ..., -0.86582389,
        -0.67795821,  1.7018734 ]])

In [119]:
from sklearn.svm import SVC
model = SVC(kernel='poly',probability=True)

In [120]:
# Fit the data
model.fit(X_train_scaled, y_train)

SVC(kernel='poly', probability=True)

In [121]:
predictions = model.predict_proba(X_test_scaled)
predictions
# test = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
# test

array([[9.78918802e-01, 2.10811976e-02],
       [8.39943655e-01, 1.60056345e-01],
       [9.29317145e-01, 7.06828552e-02],
       [9.39341224e-01, 6.06587759e-02],
       [9.28425967e-01, 7.15740328e-02],
       [9.98351132e-01, 1.64886799e-03],
       [9.44625771e-01, 5.53742294e-02],
       [9.71423233e-01, 2.85767666e-02],
       [9.93996893e-01, 6.00310692e-03],
       [9.48701835e-01, 5.12981652e-02],
       [9.56577440e-01, 4.34225603e-02],
       [9.44833430e-01, 5.51665698e-02],
       [9.96827833e-01, 3.17216660e-03],
       [9.44946075e-01, 5.50539246e-02],
       [9.67467692e-01, 3.25323076e-02],
       [9.63050565e-01, 3.69494345e-02],
       [9.61432680e-01, 3.85673197e-02],
       [9.86414535e-01, 1.35854647e-02],
       [9.46227724e-01, 5.37722761e-02],
       [9.59593800e-01, 4.04062002e-02],
       [9.18300598e-01, 8.16994018e-02],
       [9.84227073e-01, 1.57729274e-02],
       [9.26225540e-01, 7.37744596e-02],
       [9.39129984e-01, 6.08700157e-02],
       [9.30701619e-01, 6.92983806e-02],
       [9.37774814e-01, 6.22251859e-02],
       [9.63336626e-01, 3.66633736e-02],
       [9.39811770e-01, 6.01882300e-02],
       [9.37887157e-01, 6.21128433e-02],
       [9.98170660e-01, 1.82934045e-03],
       [9.58637148e-01, 4.13628518e-02],
       [9.46919705e-01, 5.30802948e-02],
       [9.98141503e-01, 1.85849677e-03],
       [9.94528605e-01, 5.47139500e-03],
       [9.58239669e-01, 4.17603306e-02],
       [9.53240734e-01, 4.67592657e-02],
       [9.54991254e-01, 4.50087456e-02],
       [9.47893264e-01, 5.21067363e-02],
       [9.48086220e-01, 5.19137797e-02],
       [9.93332132e-01, 6.66786782e-03],
       [6.86780319e-01, 3.13219681e-01],
       [9.44521298e-01, 5.54787016e-02],
       [9.32932817e-01, 6.70671833e-02],
       [9.32586739e-01, 6.74132610e-02],
       [9.29294665e-01, 7.07053352e-02],
       [9.33501213e-01, 6.64987873e-02],
       [9.60925712e-01, 3.90742884e-02],
       [9.96527359e-01, 3.47264112e-03],
       [9.67601948e-01, 3.23980524e-02],
       [9.73783021e-01, 2.62169791e-02],
       [9.82268978e-01, 1.77310218e-02],
       [9.95956986e-01, 4.04301354e-03],
       [9.96820583e-01, 3.17941745e-03],
       [9.47913551e-01, 5.20864489e-02],
       [9.68977628e-01, 3.10223722e-02],
       [9.51537638e-01, 4.84623616e-02],
       [9.62402334e-01, 3.75976656e-02],
       [9.43972672e-01, 5.60273284e-02],
       [9.51570670e-01, 4.84293304e-02],
       [9.59150645e-01, 4.08493549e-02],
       [7.64135969e-01, 2.35864031e-01],
       [1.74344702e-01, 8.25655298e-01],
       [9.52543272e-01, 4.74567282e-02],
       [9.45599815e-01, 5.44001855e-02],
       [9.62415518e-01, 3.75844816e-02],
       [9.96572868e-01, 3.42713157e-03],
       [9.65603876e-01, 3.43961243e-02],
       [9.61299123e-01, 3.87008771e-02],
       [9.99955725e-01, 4.42751803e-05],
       [7.76375079e-01, 2.23624921e-01],
       [9.71682774e-01, 2.83172255e-02],
       [9.79357554e-01, 2.06424464e-02],
       [9.99655990e-01, 3.44010040e-04],
       [9.65533104e-01, 3.44668964e-02],
       [9.59920825e-01, 4.00791746e-02],
       [9.59747384e-01, 4.02526161e-02],
       [9.95006488e-01, 4.99351198e-03],
       [9.99789497e-01, 2.10503134e-04],
       [9.92703877e-01, 7.29612282e-03],
       [9.88619591e-01, 1.13804090e-02],
       [8.51777952e-01, 1.48222048e-01],
       [9.71136367e-01, 2.88636330e-02],
       [9.29960542e-01, 7.00394579e-02],
       [9.38295323e-01, 6.17046772e-02],
       [9.29421377e-01, 7.05786229e-02],
       [9.32376790e-01, 6.76232102e-02],
       [9.98346377e-01, 1.65362332e-03],
       [9.27920450e-01, 7.20795504e-02],
       [9.31800549e-01, 6.81994507e-02],
       [9.84145828e-01, 1.58541719e-02],
       [9.29819275e-01, 7.01807245e-02],
       [9.30878010e-01, 6.91219904e-02],
       [9.11933345e-01, 8.80666546e-02],
       [9.64323872e-01, 3.56761275e-02],
       [9.98414335e-01, 1.58566492e-03],
       [9.55231736e-01, 4.47682645e-02],
       [9.62231920e-01, 3.77680803e-02],
       [9.57219214e-01, 4.27807861e-02],
       [9.94553171e-01, 5.44682933e-03],
       [9.45437140e-01, 5.45628599e-02],
       [1.18471876e-01, 8.81528124e-01],
       [9.41778932e-01, 5.82210682e-02],
       [8.97671759e-01, 1.02328241e-01],
       [9.28214854e-01, 7.17851456e-02],
       [9.49699716e-01, 5.03002840e-02],
       [9.54670267e-01, 4.53297328e-02],
       [9.50155666e-01, 4.98443339e-02],
       [9.52854539e-01, 4.71454612e-02],
       [9.48235283e-01, 5.17647167e-02],
       [9.91428581e-01, 8.57141910e-03],
       [9.53707651e-01, 4.62923495e-02],
       [9.98619797e-01, 1.38020264e-03],
       [9.99447314e-01, 5.52686239e-04],
       [9.54743955e-01, 4.52560447e-02],
       [9.43626279e-01, 5.63737209e-02],
       [9.99490587e-01, 5.09413253e-04],
       [9.51386161e-01, 4.86138391e-02],
       [9.58084307e-01, 4.19156930e-02],
       [9.59557620e-01, 4.04423805e-02],
       [9.60894919e-01, 3.91050808e-02],
       [8.20415373e-01, 1.79584627e-01],
       [9.17374994e-01, 8.26250063e-02],
       [9.25954747e-01, 7.40452529e-02],
       [9.83380001e-01, 1.66199990e-02],
       [9.34559625e-01, 6.54403746e-02],
       [9.61547994e-01, 3.84520056e-02],
       [9.55276528e-01, 4.47234724e-02],
       [9.61575014e-01, 3.84249857e-02],
       [9.94175868e-01, 5.82413227e-03],
       [9.49958402e-01, 5.00415985e-02],
       [9.46057204e-01, 5.39427958e-02],
       [9.94984314e-01, 5.01568573e-03],
       [9.68356510e-01, 3.16434901e-02],
       [9.86622666e-01, 1.33773344e-02],
       [9.68334545e-01, 3.16654551e-02],
       [9.57121597e-01, 4.28784028e-02],
       [9.96851468e-01, 3.14853234e-03],
       [9.60701640e-01, 3.92983599e-02],
       [9.46946129e-01, 5.30538706e-02],
       [9.50872732e-01, 4.91272675e-02],
       [4.01979451e-01, 5.98020549e-01],
       [9.22708467e-01, 7.72915334e-02],
       [9.13955534e-01, 8.60444658e-02],
       [9.19711750e-01, 8.02882504e-02],
       [9.59311484e-01, 4.06885160e-02],
       [9.25861519e-01, 7.41384809e-02],
       [9.76204480e-01, 2.37955198e-02],
       [9.42155370e-01, 5.78446304e-02],
       [9.60763521e-01, 3.92364788e-02],
       [9.54902377e-01, 4.50976227e-02],
       [9.55396761e-01, 4.46032394e-02],
       [9.98694563e-01, 1.30543673e-03],
       [9.98774309e-01, 1.22569098e-03],
       [9.38253555e-01, 6.17464450e-02],
       [9.46908994e-01, 5.30910062e-02],
       [9.71326378e-01, 2.86736223e-02],
       [9.98700531e-01, 1.29946864e-03],
       [9.65586403e-01, 3.44135966e-02],
       [9.37058967e-01, 6.29410334e-02],
       [9.97907999e-01, 2.09200140e-03],
       [9.26290275e-01, 7.37097246e-02],
       [9.17363440e-01, 8.26365604e-02],
       [9.03370826e-01, 9.66291736e-02],
       [9.89242630e-01, 1.07573702e-02],
       [5.00000000e-01, 5.00000000e-01],
       [9.80462617e-01, 1.95373830e-02],
       [9.75678371e-01, 2.43216294e-02],
       [9.52788885e-01, 4.72111155e-02],
       [9.51633073e-01, 4.83669268e-02],
       [9.75983612e-01, 2.40163876e-02],
       [9.99662192e-01, 3.37807618e-04],
       [9.68935697e-01, 3.10643033e-02],
       [9.63125701e-01, 3.68742993e-02],
       [9.99750707e-01, 2.49292824e-04],
       [9.54673314e-01, 4.53266855e-02],
       [9.94130911e-01, 5.86908946e-03],
       [9.60050026e-01, 3.99499739e-02],
       [9.82924046e-01, 1.70759542e-02],
       [9.99259894e-01, 7.40106248e-04],
       [9.89576878e-01, 1.04231216e-02],
       [1.71004616e-01, 8.28995384e-01],
       [8.32982035e-01, 1.67017965e-01],
       [9.32861822e-01, 6.71381785e-02],
       [9.42124722e-01, 5.78752777e-02],
       [9.39011965e-01, 6.09880347e-02],
       [9.59562043e-01, 4.04379575e-02],
       [9.55164931e-01, 4.48350686e-02],
       [9.50369981e-01, 4.96300186e-02],
       [9.55355257e-01, 4.46447429e-02],
       [9.60720458e-01, 3.92795419e-02],
       [9.56588071e-01, 4.34119286e-02],
       [9.56397967e-01, 4.36020328e-02],
       [9.99828712e-01, 1.71288063e-04],
       [9.48633014e-01, 5.13669861e-02],
       [9.66374119e-01, 3.36258810e-02],
       [9.71061932e-01, 2.89380681e-02],
       [9.99491378e-01, 5.08621968e-04],
       [9.78188802e-01, 2.18111981e-02],
       [9.96722498e-01, 3.27750167e-03],
       [9.99752840e-01, 2.47160190e-04],
       [9.20079884e-01, 7.99201158e-02],
       [9.79033758e-01, 2.09662420e-02],
       [9.60372268e-01, 3.96277324e-02],
       [9.99787569e-01, 2.12431167e-04],
       [9.56785775e-01, 4.32142251e-02],
       [9.56620150e-01, 4.33798504e-02],
       [8.65689066e-01, 1.34310934e-01],
       [9.99606526e-01, 3.93473536e-04],
       [9.44342025e-02, 9.05565797e-01],
       [9.81769059e-01, 1.82309407e-02],
       [9.55574309e-01, 4.44256905e-02],
       [8.36866704e-01, 1.63133296e-01],
       [9.57930719e-01, 4.20692807e-02],
       [9.78042484e-01, 2.19575155e-02],
       [9.89822748e-01, 1.01772518e-02],
       [9.74994534e-01, 2.50054659e-02],
       [9.72205476e-01, 2.77945235e-02],
       [9.58424583e-01, 4.15754166e-02],
       [9.68420902e-01, 3.15790983e-02],
       [9.99630904e-01, 3.69095608e-04],
       [8.71388706e-01, 1.28611294e-01],
       [9.21595119e-01, 7.84048813e-02],
       [9.47326334e-01, 5.26736663e-02],
       [9.34132950e-01, 6.58670497e-02],
       [9.47952242e-01, 5.20477584e-02],
       [9.57437107e-01, 4.25628934e-02],
       [9.73569385e-01, 2.64306148e-02],
       [9.90979790e-01, 9.02020982e-03],
       [9.49790512e-01, 5.02094876e-02],
       [9.45334695e-01, 5.46653048e-02],
       [9.96540527e-01, 3.45947321e-03],
       [9.45882335e-01, 5.41176647e-02],
       [9.97098845e-01, 2.90115467e-03],
       [9.56926569e-01, 4.30734312e-02],
       [9.44863428e-01, 5.51365724e-02],
       [9.43414655e-01, 5.65853452e-02],
       [9.95953125e-01, 4.04687535e-03],
       [9.70324350e-01, 2.96756498e-02],
       [9.54323652e-01, 4.56763476e-02],
       [9.92382417e-01, 7.61758288e-03],
       [9.09974300e-01, 9.00256997e-02],
       [2.34369641e-01, 7.65630359e-01],
       [9.30990210e-01, 6.90097897e-02],
       [9.25230841e-01, 7.47691591e-02],
       [9.60706692e-01, 3.92933081e-02],
       [9.98305339e-01, 1.69466138e-03],
       [9.60709225e-01, 3.92907748e-02],
       [9.66713391e-01, 3.32866094e-02],
       [9.63934345e-01, 3.60656552e-02],
       [9.99839759e-01, 1.60240992e-04],
       [9.71762413e-01, 2.82375867e-02],
       [9.98997873e-01, 1.00212653e-03],
       [9.78389545e-01, 2.16104553e-02],
       [9.63187472e-01, 3.68125279e-02],
       [9.56547497e-01, 4.34525034e-02],
       [9.35182105e-01, 6.48178954e-02],
       [9.52034802e-01, 4.79651980e-02],
       [9.74456400e-01, 2.55436001e-02],
       [9.65934305e-01, 3.40656949e-02],
       [9.78702518e-01, 2.12974819e-02],
       [9.10020422e-01, 8.99795781e-02],
       [8.98581158e-01, 1.01418842e-01],
       [1.35738749e-01, 8.64261251e-01],
       [9.52144620e-01, 4.78553797e-02],
       [9.57516711e-01, 4.24832894e-02],
       [9.58485473e-01, 4.15145269e-02],
       [9.99868823e-01, 1.31177345e-04],
       [9.62099961e-01, 3.79000388e-02],
       [9.66632373e-01, 3.33676266e-02],
       [9.55641012e-01, 4.43589884e-02],
       [9.55831038e-01, 4.41689616e-02],
       [9.99235902e-01, 7.64097626e-04],
       [9.70658727e-01, 2.93412733e-02],
       [9.57614830e-01, 4.23851702e-02],
       [7.92245711e-01, 2.07754289e-01],
       [9.92144997e-01, 7.85500325e-03],
       [9.79101093e-01, 2.08989071e-02],
       [9.99730791e-01, 2.69208877e-04],
       [9.72019339e-01, 2.79806606e-02],
       [9.78027710e-01, 2.19722904e-02],
       [9.33784641e-01, 6.62153595e-02],
       [9.17454737e-01, 8.25452630e-02],
       [9.30437275e-01, 6.95627253e-02],
       [7.16570767e-01, 2.83429233e-01],
       [9.76202230e-01, 2.37977698e-02],
       [9.33157642e-01, 6.68423583e-02],
       [9.30818449e-01, 6.91815509e-02],
       [9.31730390e-01, 6.82696097e-02],
       [9.34966907e-01, 6.50330929e-02],
       [9.52074519e-01, 4.79254813e-02],
       [9.95933737e-01, 4.06626287e-03],
       [9.32172137e-01, 6.78278625e-02],
       [9.98834502e-01, 1.16549780e-03],
       [9.34893369e-01, 6.51066305e-02],
       [9.30968448e-01, 6.90315521e-02],
       [9.62693288e-01, 3.73067119e-02],
       [9.98688616e-01, 1.31138394e-03],
       [9.69738976e-01, 3.02610237e-02],
       [9.96130957e-01, 3.86904276e-03],
       [9.50694687e-01, 4.93053129e-02],
       [1.19619292e-02, 9.88038071e-01],
       [6.35845417e-01, 3.64154583e-01],
       [8.03394361e-01, 1.96605639e-01],
       [9.85836323e-01, 1.41636771e-02],
       [6.71498749e-01, 3.28501251e-01],
       [9.63762176e-01, 3.62378238e-02],
       [9.99933267e-01, 6.67326370e-05],
       [9.79121313e-01, 2.08786871e-02],
       [9.99985270e-01, 1.47300972e-05],
       [9.73668775e-01, 2.63312247e-02],
       [9.99993646e-01, 6.35421331e-06],
       [9.97379107e-01, 2.62089276e-03],
       [9.99693403e-01, 3.06597204e-04],
       [9.96029882e-01, 3.97011760e-03],
       [9.89813194e-01, 1.01868063e-02],
       [9.99822335e-01, 1.77664753e-04],
       [9.88043382e-01, 1.19566185e-02],
       [9.96575039e-01, 3.42496105e-03],
       [9.89365625e-01, 1.06343753e-02],
       [9.94982485e-01, 5.01751471e-03],
       [9.59850993e-01, 4.01490067e-02],
       [8.96002573e-01, 1.03997427e-01],
       [8.45215168e-01, 1.54784832e-01],
       [9.32546104e-01, 6.74538964e-02],
       [9.31441276e-01, 6.85587245e-02],
       [9.64258353e-01, 3.57416472e-02],
       [9.51563655e-01, 4.84363451e-02],
       [9.97589902e-01, 2.41009806e-03],
       [9.98118987e-01, 1.88101269e-03],
       [9.42373813e-01, 5.76261869e-02],
       [9.51240490e-01, 4.87595096e-02],
       [9.74751969e-01, 2.52480306e-02],
       [9.92019039e-01, 7.98096142e-03],
       [9.71495226e-01, 2.85047737e-02],
       [9.97270901e-01, 2.72909883e-03],
       [9.41159978e-01, 5.88400217e-02],
       [9.44220127e-01, 5.57798731e-02],
       [9.61260983e-01, 3.87390168e-02],
       [9.40750326e-01, 5.92496743e-02],
       [9.41193310e-01, 5.88066900e-02],
       [1.16358243e-01, 8.83641757e-01],
       [9.41000025e-01, 5.89999752e-02],
       [9.39808855e-01, 6.01911454e-02],
       [8.98447626e-01, 1.01552374e-01],
       [9.51723288e-01, 4.82767115e-02],
       [9.43360269e-01, 5.66397311e-02],
       [9.99671829e-01, 3.28170902e-04],
       [9.82135099e-01, 1.78649009e-02],
       [9.69879987e-01, 3.01200131e-02],
       [9.72274066e-01, 2.77259343e-02],
       [9.70726360e-01, 2.92736400e-02],
       [9.99804832e-01, 1.95168486e-04],
       [9.70790625e-01, 2.92093754e-02],
       [9.73383178e-01, 2.66168216e-02],
       [9.99817256e-01, 1.82743661e-04],
       [9.69110093e-01, 3.08899067e-02],
       [9.98859294e-01, 1.14070594e-03],
       [9.93172521e-01, 6.82747887e-03],
       [9.91505079e-01, 8.49492077e-03],
       [9.81090730e-01, 1.89092700e-02],
       [7.84512841e-01, 2.15487159e-01],
       [8.29038868e-01, 1.70961132e-01],
       [9.09139409e-01, 9.08605910e-02],
       [9.20737126e-01, 7.92628735e-02],
       [9.32982251e-01, 6.70177488e-02],
       [9.43474223e-01, 5.65257773e-02],
       [9.40111819e-01, 5.98881809e-02],
       [9.67944621e-01, 3.20553792e-02],
       [9.60704435e-01, 3.92955653e-02],
       [9.80720871e-01, 1.92791292e-02],
       [9.94648711e-01, 5.35128923e-03],
       [9.53682824e-01, 4.63171758e-02],
       [9.99895453e-01, 1.04547074e-04],
       [9.77385888e-01, 2.26141116e-02],
       [9.99784337e-01, 2.15662987e-04],
       [9.72469837e-01, 2.75301632e-02],
       [9.33325750e-01, 6.66742504e-02],
       [9.99937954e-01, 6.20461463e-05],
       [9.93297916e-01, 6.70208449e-03],
       [9.89814880e-01, 1.01851202e-02],
       [9.14639899e-01, 8.53601013e-02],
       [9.33660411e-01, 6.63395891e-02],
       [9.10582344e-01, 8.94176563e-02],
       [9.54813931e-01, 4.51860685e-02],
       [9.54612255e-01, 4.53877449e-02],
       [9.32327634e-01, 6.76723661e-02],
       [8.17932130e-01, 1.82067870e-01],
       [9.30169314e-01, 6.98306857e-02],
       [9.98692246e-01, 1.30775411e-03],
       [9.21515394e-01, 7.84846063e-02],
       [9.98103578e-01, 1.89642233e-03],
       [9.13614911e-01, 8.63850886e-02],
       [9.78743356e-01, 2.12566441e-02],
       [9.33271661e-01, 6.67283393e-02],
       [9.29249778e-01, 7.07502221e-02],
       [9.57130828e-01, 4.28691718e-02],
       [9.57293821e-01, 4.27061795e-02],
       [9.38725933e-01, 6.12740670e-02],
       [9.97467799e-01, 2.53220110e-03],
       [9.91611829e-01, 8.38817057e-03],
       [5.53067561e-01, 4.46932439e-01],
       [9.16043652e-01, 8.39563479e-02],
       [9.21801515e-01, 7.81984854e-02],
       [9.86939422e-01, 1.30605783e-02],
       [9.39242313e-01, 6.07576870e-02],
       [9.29351704e-01, 7.06482962e-02],
       [9.98073260e-01, 1.92673979e-03],
       [9.56426110e-01, 4.35738897e-02],
       [9.43404154e-01, 5.65958458e-02],
       [9.51842564e-01, 4.81574355e-02],
       [9.56023711e-01, 4.39762891e-02],
       [9.51664969e-01, 4.83350311e-02],
       [9.76377626e-01, 2.36223737e-02],
       [9.98028415e-01, 1.97158515e-03],
       [9.95451015e-01, 4.54898541e-03],
       [9.67415396e-01, 3.25846039e-02],
       [9.39575645e-01, 6.04243546e-02],
       [9.47100491e-01, 5.28995093e-02],
       [9.59945549e-01, 4.00544512e-02],
       [9.98524457e-01, 1.47554289e-03]])

In [122]:
pred_df=pd.DataFrame(predictions,columns=['p0','p1'])

In [123]:
test = pd.merge(df_test.reset_index().drop(columns=['index']),pred_df,left_index=True,right_index=True)
# test = pd.merge(test,circuitId_df,left_index=True,right_index=True)
test

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,p0,p1
0,822,131,2,1,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.978919,0.021081
1,1,131,1,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.839944,0.160056
2,830,9,4,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.929317,0.070683
3,20,6,3,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.939341,0.060659
4,844,6,5,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.928426,0.071574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,841,51,16,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.967415,0.032585
416,847,3,18,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.939576,0.060424
417,842,5,11,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.947100,0.052900
418,9,3,19,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.959946,0.040054
419,840,211,12,0,2019,24,1,0,0,0,0,0.0,0.0,1.0,0.998524,0.001476

In [124]:
max_prob = test.groupby(['circuitId']).agg({'p1':'max'})
test = pd.merge(test, max_prob, how='left', on=['circuitId'])
test

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,p0,p1_x,p1_y
0,822,131,2,1,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.978919,0.021081,0.160056
1,1,131,1,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.839944,0.160056,0.160056
2,830,9,4,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.929317,0.070683,0.160056
3,20,6,3,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.939341,0.060659,0.160056
4,844,6,5,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0.928426,0.071574,0.160056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,841,51,16,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.967415,0.032585,0.446932
416,847,3,18,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.939576,0.060424,0.446932
417,842,5,11,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.947100,0.052900,0.446932
418,9,3,19,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0.959946,0.040054,0.446932
419,840,211,12,0,2019,24,1,0,0,0,0,0.0,0.0,1.0,0.998524,0.001476,0.446932

In [125]:
flag = []
for index, row in test.iterrows():
    if row['p1_x'] == row['p1_y']:
        if row['positionOrder']==1:
            flag.append(1)
        else:
            flag.append(0)
    else:
        flag.append(0)
        
test['flag'] = flag
test['flag'].sum()

12