In [176]:
import pandas as pd
import psycopg2
from config import *

In [177]:
conn = psycopg2.connect(
   database=DATABASE, user=USER, password=PASSWORD, host=HOST, port= PORT
)

In [178]:
cursor = conn.cursor()

In [179]:
cursor.execute("Select * FROM races LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url']

In [180]:
cursor.execute("SELECT * FROM races")
data = cursor.fetchall()
race_df = pd.DataFrame(data, columns=colnames)
race_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [181]:
cursor.execute("Select * FROM results LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['resultId',
 'raceId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'position',
 'positionText',
 'positionOrder',
 'points',
 'laps',
 'time',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'statusId']

In [182]:
cursor.execute("SELECT * FROM results")
data = cursor.fetchall()
results_df = pd.DataFrame(data, columns=colnames)
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [183]:
raceresults_df = results_df.merge(race_df,left_on='raceId',right_on='raceId',how='left')

In [184]:
raceresults_df = raceresults_df.dropna().reset_index()

In [185]:
raceresults_df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name,date,time_y,url
0,0,1,18,1,1,22,1,1,1,1,...,1:27.452,218.300,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
1,1,2,18,2,2,3,5,2,2,2,...,1:27.739,217.586,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
2,2,3,18,3,3,7,7,3,3,3,...,1:28.090,216.719,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
3,3,4,18,4,4,5,11,4,4,4,...,1:28.603,215.464,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
4,4,5,18,5,1,23,3,5,5,5,...,1:27.418,218.385,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...

In [186]:
file_path = "../Resources/PythonExport/weather.csv"
weather_df = pd.read_csv(file_path)
weather_df.head()

,Unnamed: 0,raceId,year,round,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,2009,1,Sunny with temperatures reaching up to 27 °C (...,1,0,0,0,0
1,1,2,2009,2,"Dry start, with heavy rain and thunderstorm/mo...",0,0,1,1,0
2,2,3,2009,3,Rain,0,0,0,1,0
3,3,4,2009,4,Sunny,1,0,0,0,0
4,4,5,2009,5,"Warm, Sunny",1,0,0,0,0

In [187]:
df = raceresults_df.merge(weather_df,left_on='raceId',right_on='raceId',how='left')
df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,url,Unnamed: 0,year_y,round_y,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,18,1,1,22,1,1,1,1,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
1,1,2,18,2,2,3,5,2,2,2,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
2,2,3,18,3,3,7,7,3,3,3,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
3,3,4,18,4,4,5,11,4,4,4,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
4,4,5,18,5,1,23,3,5,5,5,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0

In [188]:
df.drop(columns=['index','resultId','raceId','url','time_y','date','round_y','position','positionText','number','points','laps','time_x','milliseconds','fastestLap','rank','year_y','Unnamed: 0','weather','round_x','name','fastestLapSpeed','fastestLapTime'],inplace=True)

In [189]:
df

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1,1,1,1,1,2008,1,1,0,0,0,0
1,2,2,5,2,1,2008,1,1,0,0,0,0
2,3,3,7,3,1,2008,1,1,0,0,0,0
3,4,4,11,4,1,2008,1,1,0,0,0,0
4,5,1,3,5,1,2008,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25035,849,3,19,16,11,2021,4,0,0,0,0,1
25036,4,214,10,17,11,2021,4,0,0,0,0,1
25037,854,210,18,18,12,2021,4,0,0,0,0,1
25038,853,210,20,19,12,2021,4,0,0,0,0,1
25039,852,213,16,20,10,2021,4,0,0,0,0,1

In [190]:
df.dtypes

driverId          int64
constructorId     int64
grid              int64
positionOrder     int64
statusId          int64
year_x            int64
circuitId         int64
weather_warm      int64
weather_cold      int64
weather_dry       int64
weather_wet       int64
weather_cloudy    int64
dtype: object

In [191]:
# We will finish all the statuses where drivers finish the race to 2
replace = {
    11:2, 12:2, 13:2, 14:2, 15:2, 16:2, 17:2, 18:2, 19:2, 45:2, 50:2, 128:2, 53:2, 55:2, 58:2, 
    88:2, 111:2, 112:2, 113:2, 114:2, 115:2, 116:2, 117:2, 118:2, 119:2, 120:2, 122:2, 123:2, 124:2, 
    125:2, 127:2, 133:2, 134:2  
}
df["statusId"] = df["statusId"].replace(replace)

In [192]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
def change_status(x):
    if x == 1:
        return 1
    elif x == 2:
        return 2
    else:
        return 3
    
df["statusId"] = df["statusId"].apply(change_status)
df.tail(10)

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
25030,840,117,11,11,2,2021,4,0,0,0,0,1
25031,8,51,17,12,2,2021,4,0,0,0,0,1
25032,20,117,13,13,2,2021,4,0,0,0,0,1
25033,847,3,15,14,2,2021,4,0,0,0,0,1
25034,841,51,14,15,2,2021,4,0,0,0,0,1
25035,849,3,19,16,2,2021,4,0,0,0,0,1
25036,4,214,10,17,2,2021,4,0,0,0,0,1
25037,854,210,18,18,2,2021,4,0,0,0,0,1
25038,853,210,20,19,2,2021,4,0,0,0,0,1
25039,852,213,16,20,3,2021,4,0,0,0,0,1

In [193]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.statusId.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['statusId'])
encode_df.head()

   statusId_1  statusId_2  statusId_3
0         1.0         0.0         0.0
1         1.0         0.0         0.0
2         1.0         0.0         0.0
3         1.0         0.0         0.0
4         1.0         0.0         0.0

In [194]:
df = df.merge(encode_df,left_index=True,right_index=True).drop("statusId",1)

In [195]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.grid.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['grid'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("grid",1)

In [196]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.driverId.values.reshape(-1,1)))
# Rename encoded columns
encode_df.columns = enc.get_feature_names(['driverId'])
df = df.merge(encode_df,left_index=True,right_index=True).drop("driverId",1)

In [197]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.constructorId.values.reshape(-1,1)))
# Rename encoded columns
encode_df.columns = enc.get_feature_names(['constructorId'])
df = df.merge(encode_df,left_index=True,right_index=True).drop("constructorId",1)

In [203]:
# df.head()
circuitId = df[df['year_x']==2019]['circuitId']
circuitId

24197     1
24198     1
24199     1
24200     1
24201     1
         ..
24616    24
24617    24
24618    24
24619    24
24620    24
Name: circuitId, Length: 420, dtype: int64

In [204]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.circuitId.values.reshape(-1,1)))
# Rename encoded columns
encode_df.columns = enc.get_feature_names(['circuitId'])
df = df.merge(encode_df,left_index=True,right_index=True).drop("circuitId",1)

In [205]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
def change_order(x):
    if x == 1:
        return 1
    else:
        return 0
    
df["positionOrder"] = df["positionOrder"].apply(change_order)
df.head(10)

,grid,positionOrder,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_65,circuitId_66,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76
0,1,1,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,13,0,2008,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,17,0,2008,1,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,15,0,2008,1,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2,0,2008,1,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,18,0,2008,1,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [206]:
import sklearn as skl
from sklearn import preprocessing
X_scaler = skl.preprocessing.StandardScaler()

In [325]:
df_train = df[(df['year_x']<=2018) & (df['year_x']>=2000)]
df_test = df[df['year_x']==2019]

In [326]:
df_train

,grid,positionOrder,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_65,circuitId_66,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76
0,1,1,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24192,17,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24193,9,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24194,12,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24195,4,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24196,10,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [327]:
y_train= df_train['positionOrder']
y_test= df_test['positionOrder']
X_train = df_train.drop(columns=['positionOrder'])
# .drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])
X_test = df_test.drop(columns=['positionOrder'])
# X_test = df_test.drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])

In [328]:
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [329]:
X_test_scaled

array([[-1.46612311,  1.77603196, -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       [-1.62545438,  1.77603196, -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       [-1.14746058,  1.77603196, -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       ...,
       [-0.03214169,  1.77603196,  1.35523629, ..., -0.09117686,
         0.        ,  0.        ],
       [ 1.24250846,  1.77603196,  1.35523629, ..., -0.09117686,
         0.        ,  0.        ],
       [ 0.12718958,  1.77603196,  1.35523629, ..., -0.09117686,
         0.        ,  0.        ]])

In [530]:
import tensorflow as tf
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=150, activation="tanh", input_dim=1147))
nn_model.add(tf.keras.layers.Dense(units=100, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=50, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=25, activation="relu"))
# nn_model.add(tf.keras.layers.Dense(units=200, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential_20"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_113 (Dense)            (None, 150)               172200
_________________________________________________________________
dense_114 (Dense)            (None, 100)               15100
_________________________________________________________________
dense_115 (Dense)            (None, 50)                5050
_________________________________________________________________
dense_116 (Dense)            (None, 25)                1275
_________________________________________________________________
dense_117 (Dense)            (None, 10)                260
_________________________________________________________________
dense_118 (Dense)            (None, 1)                 11
=================================================================
Total params: 193,896
Trainable params: 193,896
Non-trainable params: 0
_________________________________________________________________

In [531]:
nn_model.compile(optimizer="Adam", loss="binary_crossentropy", metrics=['accuracy'])

In [532]:
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
235/235 [==============================] - 1s 1ms/step - loss: 0.1768 - accuracy: 0.9533
Epoch 2/50
235/235 [==============================] - 0s 1ms/step - loss: 0.1256 - accuracy: 0.9536
Epoch 3/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1086 - accuracy: 0.9536
Epoch 4/50
235/235 [==============================] - 0s 1ms/step - loss: 0.1016 - accuracy: 0.9536
Epoch 5/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0928 - accuracy: 0.9584
Epoch 6/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0878 - accuracy: 0.9594
Epoch 7/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0849 - accuracy: 0.9620
Epoch 8/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0792 - accuracy: 0.9604
Epoch 9/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0762 - accuracy: 0.9654
Epoch 10/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0731 - accuracy: 0.9658
Epoch 11/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0694 - accuracy: 0.9654
Epoch 12/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0722 - accuracy: 0.9650
Epoch 13/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0646 - accuracy: 0.9685
Epoch 14/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0645 - accuracy: 0.9695
Epoch 15/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0603 - accuracy: 0.9722
Epoch 16/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0593 - accuracy: 0.9719
Epoch 17/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0565 - accuracy: 0.9725
Epoch 18/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0547 - accuracy: 0.9749
Epoch 19/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0546 - accuracy: 0.9742
Epoch 20/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0493 - accuracy: 0.9783
Epoch 21/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0476 - accuracy: 0.9779
Epoch 22/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0531 - accuracy: 0.9755
Epoch 23/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0485 - accuracy: 0.9789
Epoch 24/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0464 - accuracy: 0.9786
Epoch 25/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0473 - accuracy: 0.9798
Epoch 26/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0446 - accuracy: 0.9815
Epoch 27/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0426 - accuracy: 0.9814
Epoch 28/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0416 - accuracy: 0.9814
Epoch 29/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0419 - accuracy: 0.9812
Epoch 30/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0397 - accuracy: 0.9822
Epoch 31/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0368 - accuracy: 0.9860
Epoch 32/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0411 - accuracy: 0.9832
Epoch 33/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0416 - accuracy: 0.9826
Epoch 34/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0386 - accuracy: 0.9842
Epoch 35/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0379 - accuracy: 0.9834
Epoch 36/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0380 - accuracy: 0.9838
Epoch 37/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0388 - accuracy: 0.9839
Epoch 38/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0327 - accuracy: 0.9867
Epoch 39/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0358 - accuracy: 0.9852
Epoch 40/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0327 - accuracy: 0.9862
Epoch 41/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0393 - accuracy: 0.9815
Epoch 42/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0355 - accuracy: 0.9850
Epoch 43/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0336 - accuracy: 0.9863
Epoch 44/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0314 - accuracy: 0.9879
Epoch 45/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0306 - accuracy: 0.9874
Epoch 46/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0365 - accuracy: 0.9851
Epoch 47/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0331 - accuracy: 0.9859
Epoch 48/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0285 - accuracy: 0.9882
Epoch 49/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0262 - accuracy: 0.9879
Epoch 50/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0265 - accuracy: 0.9880

In [533]:
nn_model.evaluate(X_test_scaled,y_test,verbose=2)

14/14 - 0s - loss: 0.2855 - accuracy: 0.9238

[0.2854515016078949, 0.9238095283508301]

In [534]:
predictions = nn_model.predict(X_test_scaled)

In [535]:
pred = pd.DataFrame(predictions, columns=['Column1'])
pred

      Column1
0    0.000257
1    0.288492
2    0.000164
3    0.357765
4    0.000361
..        ...
415  0.000161
416  0.000200
417  0.000200
418  0.000200
419  0.000200

[420 rows x 1 columns]

In [536]:
X_test

,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,...,circuitId_65,circuitId_66,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76
0,2,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,16,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
416,18,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
417,11,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
418,19,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
419,12,2019,1,0,0,0,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [537]:
circuitId_df = circuitId.to_frame().reset_index().drop(columns=['index'])
circuitId_df

     circuitId
0            1
1            1
2            1
3            1
4            1
..         ...
415         24
416         24
417         24
418         24
419         24

[420 rows x 1 columns]

In [538]:
y_test_df = y_test.to_frame().reset_index().drop(columns=['index'])
y_test_df

     positionOrder
0                1
1                0
2                0
3                0
4                0
..             ...
415              0
416              0
417              0
418              0
419              0

[420 rows x 1 columns]

In [539]:
final = y_test_df.merge(pred,left_index=True,right_index=True)
final

     positionOrder   Column1
0                1  0.000257
1                0  0.288492
2                0  0.000164
3                0  0.357765
4                0  0.000361
..             ...       ...
415              0  0.000161
416              0  0.000200
417              0  0.000200
418              0  0.000200
419              0  0.000200

[420 rows x 2 columns]

In [540]:
X_test = X_test.reset_index().drop(columns=['index'])
X_test

,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,...,circuitId_65,circuitId_66,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76
0,2,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,16,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
416,18,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
417,11,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
418,19,2019,1,0,0,0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
419,12,2019,1,0,0,0,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [541]:
test = X_test.merge(final,left_index=True,right_index=True)
test = circuitId_df.merge(test,left_index=True,right_index=True)
test

,circuitId,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76,positionOrder,Column1
0,1,2,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.000257
1,1,1,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.288492
2,1,4,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000164
3,1,3,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.357765
4,1,5,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,24,16,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000161
416,24,18,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200
417,24,11,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200
418,24,19,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200
419,24,12,2019,1,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200

In [542]:
final['diff']=final.eval('positionOrder-Column1')

In [543]:
final['Column1'].sum()

21.092684

In [544]:
final['positionOrder'].sum()

21

In [545]:
final

     positionOrder   Column1      diff
0                1  0.000257  0.999743
1                0  0.288492 -0.288492
2                0  0.000164 -0.000164
3                0  0.357765 -0.357765
4                0  0.000361 -0.000361
..             ...       ...       ...
415              0  0.000161 -0.000161
416              0  0.000200 -0.000200
417              0  0.000200 -0.000200
418              0  0.000200 -0.000200
419              0  0.000200 -0.000200

[420 rows x 3 columns]

In [546]:
test.sort_values(by=['circuitId', 'Column1'],ascending=False)

,circuitId,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76,positionOrder,Column1
61,73,2,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.009149
67,73,7,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.001309
64,73,8,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.000486
62,73,3,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.000477
66,73,9,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.000423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,1,17,2019,0,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200
15,1,19,2019,0,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200
16,1,20,2019,0,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200
19,1,18,2019,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200
2,1,4,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000164

In [547]:
final

     positionOrder   Column1      diff
0                1  0.000257  0.999743
1                0  0.288492 -0.288492
2                0  0.000164 -0.000164
3                0  0.357765 -0.357765
4                0  0.000361 -0.000361
..             ...       ...       ...
415              0  0.000161 -0.000161
416              0  0.000200 -0.000200
417              0  0.000200 -0.000200
418              0  0.000200 -0.000200
419              0  0.000200 -0.000200

[420 rows x 3 columns]

In [548]:
max_prob = test.groupby(['circuitId']).agg({'Column1':'max'})

In [549]:
test = pd.merge(test, max_prob, how='left', on=['circuitId'])
test

,circuitId,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76,positionOrder,Column1_x,Column1_y
0,1,2,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.000257,0.357765
1,1,1,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.288492,0.357765
2,1,4,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000164,0.357765
3,1,3,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.357765,0.357765
4,1,5,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000361,0.357765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,24,16,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000161,0.486682
416,24,18,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200,0.486682
417,24,11,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200,0.486682
418,24,19,2019,1,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200,0.486682
419,24,12,2019,1,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000200,0.486682

In [550]:
flag = []
for index, row in test.iterrows():
    if row['Column1_x'] == row['Column1_y']:
        if row['positionOrder']==1:
            flag.append(1)
        else:
            flag.append(0)
    else:
        flag.append(0)
        
test['flag'] = flag
test['flag'].sum()

7

In [551]:
test['flag'].sum()/21*100

33.33333333333333