In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Read results.csv and races.csv 
results = pd.read_csv(Path('../Resources/PythonExport/race_positions_raw1.csv'))
probability = pd.read_csv(Path('../Resources/PythonExport/race_positions_raw.csv'), usecols=["proba_1"])

In [3]:
results = results.join(probability, how='outer')
results

,Unnamed: 0,Unnamed: 0.1,year,round,resultId,raceId,circuitId,driverId,constructorId,grid,position,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,Win,podium,proba_1
0,0,24197,2019,1,24203,1010,1,822,131,2,1,0,0,0,0,0,1,1,0.027366
1,1,24198,2019,1,24204,1010,1,1,131,1,2,0,0,0,0,0,0,2,0.072876
2,2,24199,2019,1,24205,1010,1,830,9,4,3,0,0,0,0,0,0,3,0.060218
3,3,24200,2019,1,24206,1010,1,20,6,3,4,0,0,0,0,0,0,0,0.061280
4,4,24201,2019,1,24207,1010,1,844,6,5,5,0,0,0,0,0,0,0,0.060402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,24615,2019,21,24621,1030,24,841,51,16,16,1,0,0,0,0,0,0,0.022312
416,416,24616,2019,21,24622,1030,24,847,3,18,17,1,0,0,0,0,0,0,0.026308
417,417,24617,2019,21,24623,1030,24,842,5,11,18,1,0,0,0,0,0,0,0.030151
418,418,24618,2019,21,24624,1030,24,9,3,19,19,1,0,0,0,0,0,0,0.017742
419,419,24619,2019,21,24625,1030,24,840,211,12,0,1,0,0,0,0,0,0,0.023065

In [4]:
columns = results[["round","resultId","raceId","circuitId","driverId","position","proba_1"]]
data = columns.copy()
print(data.shape)
data.head()

(420, 7)

   round  resultId  raceId  circuitId  driverId  position   proba_1
0      1     24203    1010          1       822         1  0.027366
1      1     24204    1010          1         1         2  0.072876
2      1     24205    1010          1       830         3  0.060218
3      1     24206    1010          1        20         4  0.061280
4      1     24207    1010          1       844         5  0.060402

In [5]:
df = data.copy()

In [6]:
df = df.sort_values(["round", "proba_1"], ascending = (True, False))

In [7]:
df

     round  resultId  raceId  circuitId  driverId  position   proba_1
1        1     24204    1010          1         1         2  0.072876
3        1     24206    1010          1        20         4  0.061280
11       1     24214    1010          1       846        12  0.060942
6        1     24209    1010          1       807         7  0.060825
4        1     24207    1010          1       844         5  0.060402
..     ...       ...     ...        ...       ...       ...       ...
418     21     24624    1030         24         9        19  0.017742
413     21     24619    1030         24       825        14  0.014942
403     21     24609    1030         24       822         4  0.010834
412     21     24618    1030         24         8        13  0.009284
414     21     24620    1030         24       154        15  0.004112

[420 rows x 7 columns]

In [8]:
round = [1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
count = 1
prediction = []

for i in round:
    count = 0
    for index, row in df.iterrows():
        if row["round"] == i:
            count = count +1
            prediction.append(count)
        else:
            continue
        

df["Pred_Position"] = prediction
df

,round,resultId,raceId,circuitId,driverId,position,proba_1,Pred_Position
1,1,24204,1010,1,1,2,0.072876,1
3,1,24206,1010,1,20,4,0.061280,2
11,1,24214,1010,1,846,12,0.060942,3
6,1,24209,1010,1,807,7,0.060825,4
4,1,24207,1010,1,844,5,0.060402,5
...,...,...,...,...,...,...,...,...
418,21,24624,1030,24,9,19,0.017742,16
413,21,24619,1030,24,825,14,0.014942,17
403,21,24609,1030,24,822,4,0.010834,18
412,21,24618,1030,24,8,13,0.009284,19
414,21,24620,1030,24,154,15,0.004112,20

In [9]:
df['Delta'] = df['position'] - df['Pred_Position']
df['Delta'] = df['Delta'].abs()
df

,round,resultId,raceId,circuitId,driverId,position,proba_1,Pred_Position,Delta
1,1,24204,1010,1,1,2,0.072876,1,1
3,1,24206,1010,1,20,4,0.061280,2,2
11,1,24214,1010,1,846,12,0.060942,3,9
6,1,24209,1010,1,807,7,0.060825,4,3
4,1,24207,1010,1,844,5,0.060402,5,0
...,...,...,...,...,...,...,...,...,...
418,21,24624,1030,24,9,19,0.017742,16,3
413,21,24619,1030,24,825,14,0.014942,17,3
403,21,24609,1030,24,822,4,0.010834,18,14
412,21,24618,1030,24,8,13,0.009284,19,6
414,21,24620,1030,24,154,15,0.004112,20,5

In [10]:
df["Spread"] = df["Delta"].copy()
df["Spread"] = df["Spread"].apply(lambda x: 1 if x<= 2 else 0)

In [11]:
# Add two more columns to create ending position bins

df["pos_group"] = df["position"].copy()
df["pred_pos_group"] = df["Pred_Position"].copy()

podium = [1,2,3]
topsix = [4,5,6]
topten = [7,8,9,10]

def position_group(x):
    if x in podium:
        return 1
    if x in topsix:
        return 2
    if x in topten:
        return 3
    else:
        return 4
    

df["pos_group"] = df["pos_group"].apply(position_group)  
df["pred_pos_group"] = df["pred_pos_group"].apply(position_group)

In [12]:
print(df.shape)
df

(420, 12)

,round,resultId,raceId,circuitId,driverId,position,proba_1,Pred_Position,Delta,Spread,pos_group,pred_pos_group
1,1,24204,1010,1,1,2,0.072876,1,1,1,1,1
3,1,24206,1010,1,20,4,0.061280,2,2,1,2,1
11,1,24214,1010,1,846,12,0.060942,3,9,0,4,1
6,1,24209,1010,1,807,7,0.060825,4,3,0,3,2
4,1,24207,1010,1,844,5,0.060402,5,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
418,21,24624,1030,24,9,19,0.017742,16,3,0,4,4
413,21,24619,1030,24,825,14,0.014942,17,3,0,4,4
403,21,24609,1030,24,822,4,0.010834,18,14,0,2,4
412,21,24618,1030,24,8,13,0.009284,19,6,0,4,4
414,21,24620,1030,24,154,15,0.004112,20,5,0,4,4

In [13]:
correct = len(df.loc[df["Spread"]==1])
total = len(df)
score = (correct / total) * 100

print(f"Model predicted {score} percentage of all outcomes within a spread of 2 positions")

Model predicted 38.333333333333336 percentage of all outcomes within a spread of 2 positions

In [14]:
group_correct = len(df.loc[df["pos_group"]==df["pred_pos_group"]])
total = len(df)
group_score = (group_correct / total) * 100
print(f"Model predicted {group_score} percentage of all outcome groups for 2019")

Model predicted 56.42857142857143 percentage of all outcome groups for 2019

In [15]:
podium_percentage = len(df.loc[(df["pos_group"]==1) & (df["pos_group"]==df["pred_pos_group"])]) / len(df.loc[df["pos_group"]==1])
topsix_percentage = len(df.loc[(df["pos_group"]==2) & (df["pos_group"]==df["pred_pos_group"])]) / len(df.loc[df["pos_group"]==2])
topten_percentage = len(df.loc[(df["pos_group"]==3) & (df["pos_group"]==df["pred_pos_group"])]) / len(df.loc[df["pos_group"]==3])

print(f"Model predicted {podium_percentage * 100} percentage of all podiums for 2019")
print(f"Model predicted {topsix_percentage * 100} percentage of all topsix for 2019")
print(f"Model predicted {topten_percentage * 100} percentage of all topten for 2019")

Model predicted 60.317460317460316 percentage of all podiums for 2019
Model predicted 34.92063492063492 percentage of all topsix for 2019
Model predicted 40.476190476190474 percentage of all topten for 2019