In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Read results.csv and races.csv 
results = pd.read_csv(Path('../Resources/PythonExport/race_positions_raw1.csv'))
probability = pd.read_csv(Path('../Resources/PythonExport/race_positions_raw.csv'), usecols=["proba_1"])

In [3]:
results = results.join(probability, how='outer')
results

,Unnamed: 0,Unnamed: 0.1,year,round,resultId,raceId,circuitId,circuitRef,driverId,driverRef,...,grid,position,statusId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,Win,proba_1
0,0,24197,2019,1,24203,1010,1,albert_park,822,bottas,...,2,1,1,0,0,0,0,0,1,0.044841
1,1,24198,2019,1,24204,1010,1,albert_park,1,hamilton,...,1,2,1,0,0,0,0,0,0,0.044365
2,2,24199,2019,1,24205,1010,1,albert_park,830,max_verstappen,...,4,3,1,0,0,0,0,0,0,0.044252
3,3,24200,2019,1,24206,1010,1,albert_park,20,vettel,...,3,4,1,0,0,0,0,0,0,0.044811
4,4,24201,2019,1,24207,1010,1,albert_park,844,leclerc,...,5,5,1,0,0,0,0,0,0,0.044142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,24615,2019,21,24621,1030,24,yas_marina,841,giovinazzi,...,16,16,11,1,0,0,0,0,0,0.043516
416,416,24616,2019,21,24622,1030,24,yas_marina,847,russell,...,18,17,11,1,0,0,0,0,0,0.044083
417,417,24617,2019,21,24623,1030,24,yas_marina,842,gasly,...,11,18,12,1,0,0,0,0,0,0.041566
418,418,24618,2019,21,24624,1030,24,yas_marina,9,kubica,...,19,19,12,1,0,0,0,0,0,0.042952
419,419,24619,2019,21,24625,1030,24,yas_marina,840,stroll,...,12,0,23,1,0,0,0,0,0,0.046176

In [4]:
columns = results[["round","resultId","raceId","circuitId","circuitRef","driverId","driverRef","position","proba_1"]]
data = columns.copy()
print(data.shape)
data.head()

(420, 9)

,round,resultId,raceId,circuitId,circuitRef,driverId,driverRef,position,proba_1
0,1,24203,1010,1,albert_park,822,bottas,1,0.044841
1,1,24204,1010,1,albert_park,1,hamilton,2,0.044365
2,1,24205,1010,1,albert_park,830,max_verstappen,3,0.044252
3,1,24206,1010,1,albert_park,20,vettel,4,0.044811
4,1,24207,1010,1,albert_park,844,leclerc,5,0.044142

In [5]:
df = data.copy()

In [6]:
df = df.sort_values(["round", "proba_1"], ascending = (True, False))

In [7]:
round = [1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
count = 1
prediction = []

for index, row in df.iterrows():
    if row["round"] == round:
        count = count +1
    else:
        round = row['round']
        count = 1
    prediction.append(count)
df["Pred_Position"] = prediction

df

,round,resultId,raceId,circuitId,circuitRef,driverId,driverRef,position,proba_1,Pred_Position
14,1,24217,1010,1,albert_park,841,giovinazzi,15,0.045152,1
5,1,24208,1010,1,albert_park,825,kevin_magnussen,6,0.045064,2
12,1,24215,1010,1,albert_park,815,perez,13,0.044940,3
0,1,24203,1010,1,albert_park,822,bottas,1,0.044841,4
3,1,24206,1010,1,albert_park,20,vettel,4,0.044811,5
...,...,...,...,...,...,...,...,...,...,...
411,21,24617,1030,24,yas_marina,807,hulkenberg,12,0.041148,16
407,21,24613,1030,24,yas_marina,846,norris,8,0.041141,17
409,21,24615,1030,24,yas_marina,832,sainz,10,0.040903,18
412,21,24618,1030,24,yas_marina,8,raikkonen,13,0.040013,19
414,21,24620,1030,24,yas_marina,154,grosjean,15,0.039445,20

In [8]:
df['Delta'] = df['position'] - df['Pred_Position']
df['Delta'] = df['Delta'].abs()
df

,round,resultId,raceId,circuitId,circuitRef,driverId,driverRef,position,proba_1,Pred_Position,Delta
14,1,24217,1010,1,albert_park,841,giovinazzi,15,0.045152,1,14
5,1,24208,1010,1,albert_park,825,kevin_magnussen,6,0.045064,2,4
12,1,24215,1010,1,albert_park,815,perez,13,0.044940,3,10
0,1,24203,1010,1,albert_park,822,bottas,1,0.044841,4,3
3,1,24206,1010,1,albert_park,20,vettel,4,0.044811,5,1
...,...,...,...,...,...,...,...,...,...,...,...
411,21,24617,1030,24,yas_marina,807,hulkenberg,12,0.041148,16,4
407,21,24613,1030,24,yas_marina,846,norris,8,0.041141,17,9
409,21,24615,1030,24,yas_marina,832,sainz,10,0.040903,18,8
412,21,24618,1030,24,yas_marina,8,raikkonen,13,0.040013,19,6
414,21,24620,1030,24,yas_marina,154,grosjean,15,0.039445,20,5

In [9]:
df["Spread"] = df["Delta"].copy()
df["Spread"] = df["Spread"].apply(lambda x: 1 if x<= 2 else 0)

In [10]:
print(df.shape)
df

(420, 12)

,round,resultId,raceId,circuitId,circuitRef,driverId,driverRef,position,proba_1,Pred_Position,Delta,Spread
14,1,24217,1010,1,albert_park,841,giovinazzi,15,0.045152,1,14,0
5,1,24208,1010,1,albert_park,825,kevin_magnussen,6,0.045064,2,4,0
12,1,24215,1010,1,albert_park,815,perez,13,0.044940,3,10,0
0,1,24203,1010,1,albert_park,822,bottas,1,0.044841,4,3,0
3,1,24206,1010,1,albert_park,20,vettel,4,0.044811,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
411,21,24617,1030,24,yas_marina,807,hulkenberg,12,0.041148,16,4,0
407,21,24613,1030,24,yas_marina,846,norris,8,0.041141,17,9,0
409,21,24615,1030,24,yas_marina,832,sainz,10,0.040903,18,8,0
412,21,24618,1030,24,yas_marina,8,raikkonen,13,0.040013,19,6,0
414,21,24620,1030,24,yas_marina,154,grosjean,15,0.039445,20,5,0

In [11]:
correct = len(df.loc[df["Spread"]==1])
total = len(df)
score = (correct / total) * 100

print(f"Model predicted {score} percentage of all outcomes within a spread of 2 positions")

Model predicted 28.095238095238095 percentage of all outcomes within a spread of 2 positions

In [14]:
hamilton = df.loc[df["driverRef"] == "hamilton"]
ham_correct = len(hamilton.loc[hamilton["Spread"]==1])
ham_total = len(hamilton)
score = (ham_correct / ham_total) * 100

print(f"Model predicted {score} percentage of all Luis Hamilton outcomes within a spread of 2 positions")

Model predicted 57.14285714285714 percentage of all Luis Hamilton outcomes within a spread of 2 positions