In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Read results.csv and races.csv 
results = pd.read_csv(Path('../Resources/PythonExport/race_positions_raw1.csv'))
probability = pd.read_csv(Path('../Resources/PythonExport/race_positions_raw_RandForest.csv'), usecols=["proba_1"])

In [3]:
results = results.join(probability, how='outer')
results

,Unnamed: 0,Unnamed: 0.1,year,round,resultId,raceId,circuitId,driverId,constructorId,grid,position,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,Win,podium,proba_1
0,0,24197,2019,1,24203,1010,1,822,131,2,1,0,0,0,0,0,1,1,0.0
1,1,24198,2019,1,24204,1010,1,1,131,1,2,0,0,0,0,0,0,2,0.2
2,2,24199,2019,1,24205,1010,1,830,9,4,3,0,0,0,0,0,0,3,0.1
3,3,24200,2019,1,24206,1010,1,20,6,3,4,0,0,0,0,0,0,0,0.5
4,4,24201,2019,1,24207,1010,1,844,6,5,5,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,24615,2019,21,24621,1030,24,841,51,16,16,1,0,0,0,0,0,0,0.0
416,416,24616,2019,21,24622,1030,24,847,3,18,17,1,0,0,0,0,0,0,0.0
417,417,24617,2019,21,24623,1030,24,842,5,11,18,1,0,0,0,0,0,0,0.0
418,418,24618,2019,21,24624,1030,24,9,3,19,19,1,0,0,0,0,0,0,0.0
419,419,24619,2019,21,24625,1030,24,840,211,12,0,1,0,0,0,0,0,0,0.0

In [4]:
columns = results[["round","resultId","raceId","circuitId","driverId","position","proba_1"]]
data = columns.copy()
print(data.shape)
data.head()

(420, 7)

   round  resultId  raceId  circuitId  driverId  position  proba_1
0      1     24203    1010          1       822         1      0.0
1      1     24204    1010          1         1         2      0.2
2      1     24205    1010          1       830         3      0.1
3      1     24206    1010          1        20         4      0.5
4      1     24207    1010          1       844         5      0.0

In [5]:
df = data.copy()

In [6]:
df = df.sort_values(["round", "proba_1"], ascending = (True, False))

In [7]:
df

     round  resultId  raceId  circuitId  driverId  position  proba_1
3        1     24206    1010          1        20         4      0.5
1        1     24204    1010          1         1         2      0.2
2        1     24205    1010          1       830         3      0.1
0        1     24203    1010          1       822         1      0.0
4        1     24207    1010          1       844         5      0.0
..     ...       ...     ...        ...       ...       ...      ...
415     21     24621    1030         24       841        16      0.0
416     21     24622    1030         24       847        17      0.0
417     21     24623    1030         24       842        18      0.0
418     21     24624    1030         24         9        19      0.0
419     21     24625    1030         24       840         0      0.0

[420 rows x 7 columns]

In [8]:
round = [1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
count = 1
prediction = []

for i in round:
    count = 0
    for index, row in df.iterrows():
        if row["round"] == i:
            count = count +1
            prediction.append(count)
        else:
            continue
        

df["Pred_Position"] = prediction
df

,round,resultId,raceId,circuitId,driverId,position,proba_1,Pred_Position
3,1,24206,1010,1,20,4,0.5,1
1,1,24204,1010,1,1,2,0.2,2
2,1,24205,1010,1,830,3,0.1,3
0,1,24203,1010,1,822,1,0.0,4
4,1,24207,1010,1,844,5,0.0,5
...,...,...,...,...,...,...,...,...
415,21,24621,1030,24,841,16,0.0,16
416,21,24622,1030,24,847,17,0.0,17
417,21,24623,1030,24,842,18,0.0,18
418,21,24624,1030,24,9,19,0.0,19
419,21,24625,1030,24,840,0,0.0,20

In [9]:
df['Delta'] = df['position'] - df['Pred_Position']
df['Delta'] = df['Delta'].abs()
df

,round,resultId,raceId,circuitId,driverId,position,proba_1,Pred_Position,Delta
3,1,24206,1010,1,20,4,0.5,1,3
1,1,24204,1010,1,1,2,0.2,2,0
2,1,24205,1010,1,830,3,0.1,3,0
0,1,24203,1010,1,822,1,0.0,4,3
4,1,24207,1010,1,844,5,0.0,5,0
...,...,...,...,...,...,...,...,...,...
415,21,24621,1030,24,841,16,0.0,16,0
416,21,24622,1030,24,847,17,0.0,17,0
417,21,24623,1030,24,842,18,0.0,18,0
418,21,24624,1030,24,9,19,0.0,19,0
419,21,24625,1030,24,840,0,0.0,20,20

In [10]:
df["Spread"] = df["Delta"].copy()
df["Spread"] = df["Spread"].apply(lambda x: 1 if x<= 2 else 0)

In [11]:
# Add two more columns to create ending position bins

df["pos_group"] = df["position"].copy()
df["pred_pos_group"] = df["Pred_Position"].copy()

podium = [1,2,3]
topsix = [4,5,6]
topten = [7,8,9,10]

def position_group(x):
    if x in podium:
        return 1
    if x in topsix:
        return 2
    if x in topten:
        return 3
    else:
        return 4
    

df["pos_group"] = df["pos_group"].apply(position_group)  
df["pred_pos_group"] = df["pred_pos_group"].apply(position_group)

In [12]:
print(df.shape)
df

(420, 12)

,round,resultId,raceId,circuitId,driverId,position,proba_1,Pred_Position,Delta,Spread,pos_group,pred_pos_group
3,1,24206,1010,1,20,4,0.5,1,3,0,2,1
1,1,24204,1010,1,1,2,0.2,2,0,1,1,1
2,1,24205,1010,1,830,3,0.1,3,0,1,1,1
0,1,24203,1010,1,822,1,0.0,4,3,0,1,2
4,1,24207,1010,1,844,5,0.0,5,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
415,21,24621,1030,24,841,16,0.0,16,0,1,4,4
416,21,24622,1030,24,847,17,0.0,17,0,1,4,4
417,21,24623,1030,24,842,18,0.0,18,0,1,4,4
418,21,24624,1030,24,9,19,0.0,19,0,1,4,4
419,21,24625,1030,24,840,0,0.0,20,20,0,4,4

In [13]:
correct = len(df.loc[df["Spread"]==1])
total = len(df)
score = (correct / total) * 100

print(f"Model predicted {score} percentage of all outcomes within a spread of 2 positions")

Model predicted 78.80952380952381 percentage of all outcomes within a spread of 2 positions

In [14]:
group_correct = len(df.loc[df["pos_group"]==df["pred_pos_group"]])
total = len(df)
group_score = (group_correct / total) * 100
print(f"Model predicted {group_score} percentage of all outcome groups for 2019")

Model predicted 77.38095238095238 percentage of all outcome groups for 2019

In [15]:
podium_percentage = len(df.loc[(df["pos_group"]==1) & (df["pos_group"]==df["pred_pos_group"])]) / len(df.loc[df["pos_group"]==1])
topsix_percentage = len(df.loc[(df["pos_group"]==2) & (df["pos_group"]==df["pred_pos_group"])]) / len(df.loc[df["pos_group"]==2])
topten_percentage = len(df.loc[(df["pos_group"]==3) & (df["pos_group"]==df["pred_pos_group"])]) / len(df.loc[df["pos_group"]==3])

print(f"Model predicted {podium_percentage * 100} percentage of all podiums for 2019")
print(f"Model predicted {topsix_percentage * 100} percentage of all topsix for 2019")
print(f"Model predicted {topten_percentage * 100} percentage of all topten for 2019")

Model predicted 63.49206349206349 percentage of all podiums for 2019
Model predicted 46.03174603174603 percentage of all topsix for 2019
Model predicted 71.42857142857143 percentage of all topten for 2019