In [5]:
import pandas as pd
from pathlib import Path

In [6]:
# Read results.csv and races.csv 
results = pd.read_csv(Path('../Resources/Dataset/results.csv'))
races = pd.read_csv(Path('../Resources/Dataset/races.csv'))

In [7]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [8]:
races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [9]:
df = results.merge(races, left_on='raceId', right_on='raceId').reindex(
            columns=['year', 'round', 'resultId', 'raceId', 'circuitId', 'driverId', 'constructorId','grid', 
                     'position', 'statusId'])

In [ ]:
data =

In [21]:
x = df.loc[df['statusId']==121]
x

,year,round,resultId,raceId,circuitId,driverId,constructorId,grid,position,statusId
18062,1961,8,18060,745,46,494,172,19,\N,121
18137,1960,3,18133,748,19,527,116,1,21,121
18138,1960,3,18134,748,19,528,113,11,22,121
18149,1960,3,18145,748,19,539,113,33,33,121
18337,1959,2,18333,757,19,560,114,30,\N,121
18338,1959,2,18334,757,19,528,113,25,\N,121
18342,1959,2,18338,757,19,522,113,5,\N,121
18566,1958,4,18562,768,19,449,110,11,\N,121
18567,1958,4,18563,768,19,595,113,15,\N,121
18661,1958,8,18656,772,20,475,118,3,\N,121
19075,1956,8,19046,791,14,554,105,5,\N,121
19171,1955,3,19121,794,19,593,113,27,\N,121
19176,1955,3,19126,794,19,658,113,3,\N,121
19531,1953,2,19446,809,19,701,113,28,15,121
19541,1953,2,19456,809,19,555,113,17,\N,121
19546,1953,2,19461,809,19,655,113,30,\N,121
19556,1953,2,20201,809,19,509,113,28,15,121
19755,1952,1,19649,817,66,609,6,4,\N,121
19760,1952,1,19654,817,66,642,6,1,\N,121
19766,1952,1,19660,817,66,720,141,21,\N,121
19767,1952,1,20190,817,66,642,6,4,\N,121
19977,1951,1,19867,825,66,725,133,20,\N,121
20002,1951,2,19892,826,19,593,113,8,\N,121
20007,1951,2,19897,826,19,771,113,13,\N,121
20088,1951,6,19974,830,20,697,51,10,\N,121
20115,1951,7,20001,831,14,687,6,19,\N,121