In [1]:
import pandas as pd
from pathlib import Path

In [2]:
results_df = pd.read_csv(Path('../Resources/Dataset/results.csv'))
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [3]:
results_df = results_df.drop(columns =['number', 'positionText', 'positionOrder', 
                                       'points', 'laps', 'time', 'milliseconds', 
                                       'fastestLap', 'rank', 'fastestLapTime',
                                      'fastestLapSpeed'])

In [4]:
results_df = results_df.rename(columns={"position": "ending_position", 
                                        "grid": "starting_position",
                                        "statusId": "finishing_status" })

In [5]:
results_df.head()

,resultId,raceId,driverId,constructorId,starting_position,ending_position,finishing_status
0,1,18,1,1,1,1,1
1,2,18,2,2,5,2,1
2,3,18,3,3,7,3,1
3,4,18,4,4,11,4,1
4,5,18,5,1,3,5,1

In [6]:
races_df = pd.read_csv(Path('../Resources/Dataset/races.csv'))
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [7]:
results_df = (results_df.merge(races_df, left_on='raceId', right_on='raceId')
          .reindex(columns=['resultId', 'raceId', 'driverId', 'constructorId',
                                  'starting_position', 'ending_position', 'finishing_status', 
                                 'year', 'circuitId', 'name']))

In [8]:
results_df.head()

,resultId,raceId,driverId,constructorId,starting_position,ending_position,finishing_status,year,circuitId,name
0,1,18,1,1,1,1,1,2008,1,Australian Grand Prix
1,2,18,2,2,5,2,1,2008,1,Australian Grand Prix
2,3,18,3,3,7,3,1,2008,1,Australian Grand Prix
3,4,18,4,4,11,4,1,2008,1,Australian Grand Prix
4,5,18,5,1,3,5,1,2008,1,Australian Grand Prix

In [9]:
drivers_df = pd.read_csv(Path('../Resources/Dataset/drivers.csv'))
drivers_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [10]:
results_df = (results_df.merge(drivers_df, left_on='driverId', right_on='driverId')
          .reindex(columns=['resultId', 'raceId', 'driverId', 'driverRef', 'constructorId',
                                  'starting_position', 'ending_position', 'finishing_status', 
                                 'year', 'circuitId', 'name']))
results_df

,resultId,raceId,driverId,driverRef,constructorId,starting_position,ending_position,finishing_status,year,circuitId,name
0,1,18,1,hamilton,1,1,1,1,2008,1,Australian Grand Prix
1,27,19,1,hamilton,1,9,5,1,2008,2,Malaysian Grand Prix
2,57,20,1,hamilton,1,3,13,11,2008,3,Bahrain Grand Prix
3,69,21,1,hamilton,1,5,3,1,2008,4,Spanish Grand Prix
4,90,22,1,hamilton,1,3,2,1,2008,5,Turkish Grand Prix
...,...,...,...,...,...,...,...,...,...,...,...
25035,25043,1055,854,mick_schumacher,210,18,18,12,2021,4,Spanish Grand Prix
25036,24985,1052,853,mazepin,210,19,\N,3,2021,3,Bahrain Grand Prix
25037,25002,1053,853,mazepin,210,19,17,12,2021,21,Emilia Romagna Grand Prix
25038,25024,1054,853,mazepin,210,20,19,12,2021,75,Portuguese Grand Prix
25039,25044,1055,853,mazepin,210,20,19,12,2021,4,Spanish Grand Prix