In [1]:
import pandas as pd

In [8]:
drivers = pd.read_csv(r'H:\UoFT_Bootcamp\Module_20\Capstone-Project\Resources\Dataset\drivers.csv')
circuits = pd.read_csv(r'H:\UoFT_Bootcamp\Module_20\Capstone-Project\Resources\Dataset\circuits.csv')
constructor = pd.read_csv(r'H:\UoFT_Bootcamp\Module_20\Capstone-Project\Resources\Dataset\constructors.csv')
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [27]:
drivers["full_name"] = drivers[['forename', 'surname']].apply(lambda x: ' '.join(x), axis=1)
df_name = drivers
df_name = drivers.drop(drivers[["number", "code","forename", "surname", "dob", "nationality","url"]], axis=1)
df_name.head()

   driverId   driverRef          full name          full_name
0         1    hamilton     Lewis Hamilton     Lewis Hamilton
1         2    heidfeld      Nick Heidfeld      Nick Heidfeld
2         3     rosberg       Nico Rosberg       Nico Rosberg
3         4      alonso    Fernando Alonso    Fernando Alonso
4         5  kovalainen  Heikki Kovalainen  Heikki Kovalainen

In [28]:
# Convert needed columns to series 
driver_name = drivers["full name"]
event = circuits['name']
constructor_name = constructor['name']

In [29]:
table = pd.concat([driver_name,event,constructor_name],axis=1)
table.head()

           full name                            name        name
0     Lewis Hamilton  Albert Park Grand Prix Circuit     McLaren
1      Nick Heidfeld    Sepang International Circuit  BMW Sauber
2       Nico Rosberg   Bahrain International Circuit    Williams
3    Fernando Alonso  Circuit de Barcelona-Catalunya     Renault
4  Heikki Kovalainen                   Istanbul Park  Toro Rosso

In [30]:
table.to_csv(r'H:\UoFT_Bootcamp\Module_20\Capstone-Project\Dashboard-Code\table.csv')

In [31]:
new_table = pd.read_csv(r'H:\UoFT_Bootcamp\Module_20\Capstone-Project\Resources\PythonExport\ML_Export\2019\output_2019.csv')
new_table.head()

,Unnamed: 0,resultId,name,driverRef,constructorRef,Outcome,Bin,CL_Outcome,CL_Bin,SVM_Outcome,SVM_Bin,RNF_Outcome,RNF_Bin,NN_Outcome,NN_Bin
0,0,24203,Australian Grand Prix,bottas,mercedes,1,1,3,1,16,4,2,1,3,1
1,1,24204,Australian Grand Prix,hamilton,mercedes,2,1,1,1,1,1,3,1,1,1
2,2,24205,Australian Grand Prix,max_verstappen,red_bull,3,1,5,2,3,1,7,3,4,2
3,3,24206,Australian Grand Prix,vettel,ferrari,4,2,2,1,4,2,1,1,2,1
4,4,24207,Australian Grand Prix,leclerc,ferrari,5,2,6,2,2,1,8,3,5,2

In [32]:
json_table1 = new_table.drop(new_table[["NN_Outcome", "NN_Bin","CL_Outcome", "CL_Bin"]], axis=1)

In [33]:
json_table1.head()

,Unnamed: 0,resultId,name,driverRef,constructorRef,Outcome,Bin,SVM_Outcome,SVM_Bin,RNF_Outcome,RNF_Bin
0,0,24203,Australian Grand Prix,bottas,mercedes,1,1,16,4,2,1
1,1,24204,Australian Grand Prix,hamilton,mercedes,2,1,1,1,3,1
2,2,24205,Australian Grand Prix,max_verstappen,red_bull,3,1,3,1,7,3
3,3,24206,Australian Grand Prix,vettel,ferrari,4,2,4,2,1,1
4,4,24207,Australian Grand Prix,leclerc,ferrari,5,2,2,1,8,3

In [34]:
json_table2 = pd.merge(json_table1, df_name, on='driverRef')
json_table2.head()

,Unnamed: 0,resultId,name,driverRef,constructorRef,Outcome,Bin,SVM_Outcome,SVM_Bin,RNF_Outcome,RNF_Bin,driverId,full name,full_name
0,0,24203,Australian Grand Prix,bottas,mercedes,1,1,16,4,2,1,822,Valtteri Bottas,Valtteri Bottas
1,21,24224,Bahrain Grand Prix,bottas,mercedes,2,1,17,4,5,2,822,Valtteri Bottas,Valtteri Bottas
2,41,24244,Chinese Grand Prix,bottas,mercedes,2,1,11,4,3,1,822,Valtteri Bottas,Valtteri Bottas
3,60,24263,Azerbaijan Grand Prix,bottas,mercedes,1,1,2,1,3,1,822,Valtteri Bottas,Valtteri Bottas
4,81,24284,Spanish Grand Prix,bottas,mercedes,2,1,14,4,2,1,822,Valtteri Bottas,Valtteri Bottas

In [70]:
almost_json = json_table2.drop(json_table2[["driverId","resultId","full name","driverRef"]], axis=1)
final_json = almost_json.iloc[: , 1:]
final_json = final_json.rename(columns={'name': "Circuit", 'constructorRef': 'Constructor' , "Outcome" : "Official_Position", "Bin": "Official_Bin", "full_name" : "Driver_Name"})
#final_json.reset_index(inplace=True)
final_json.head()

,Circuit,Constructor,Official_Position,Official_Bin,SVM_Outcome,SVM_Bin,RNF_Outcome,RNF_Bin,Driver_Name
0,Australian Grand Prix,mercedes,1,1,16,4,2,1,Valtteri Bottas
1,Bahrain Grand Prix,mercedes,2,1,17,4,5,2,Valtteri Bottas
2,Chinese Grand Prix,mercedes,2,1,11,4,3,1,Valtteri Bottas
3,Azerbaijan Grand Prix,mercedes,1,1,2,1,3,1,Valtteri Bottas
4,Spanish Grand Prix,mercedes,2,1,14,4,2,1,Valtteri Bottas

In [74]:
json = final_json.to_json()
json_split = final_json.to_json(r'H:\UoFT_Bootcamp\Module_20\Capstone-Project\Dashboard-Code\data1.json', orient='records')
#print(json_split)

In [51]:
list_dict = []

for index, row in list(final_json.iterrows()):
    list_dict.append(dict(row))

In [23]:
#with open(r"H:\UoFT_Bootcamp\Module_20\Capstone-Project\Dashboard-Code", mode='r') as f:
#    f.write("\n".join(str(item) for item in list_dict))